{% doc %}
  Renders the Beacon lighthouse illustration with animated glow effect.
  Used in the footer to reinforce brand identity.

  @param {string} [size] - Height of the lighthouse (default: '100px')
  @param {boolean} [animate] - Whether to show the animated glow (default: true)

  @example
  {% render 'footer-lighthouse', size: '120px', animate: true %}
{% enddoc %}

{%- liquid
  assign lighthouse_size = size | default: '100px'
  assign show_animation = animate | default: true
-%}

<div class="footer-lighthouse relative inline-block" style="height: {{ lighthouse_size }};">
  {%- comment -%} Animated glow behind the lighthouse light {%- endcomment -%}
  {%- if show_animation -%}
    <div class="lighthouse-glow absolute" style="top: 12%; left: 35%; width: 30%; height: 20%;">
      <div class="w-full h-full rounded-full bg-[var(--warning)] blur-md animate-pulse-gentle opacity-60"></div>
    </div>
  {%- endif -%}

  {%- comment -%} Lighthouse SVG - scaled to fit container {%- endcomment -%}
  <svg
    class="relative z-10 h-full w-auto"
    viewBox="0 0 40 68"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-label="{{ 'general.lighthouse' | t | default: 'Beacon lighthouse' }}"
    role="img"
  >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3046 64.7728L17.2953 64.9597L15.5566 64.6283L16.3046 64.7728Z" fill="#020201"/>
    <path d="M20.027 0H19.4494L18.968 0.0961136L18.4546 0.352416L18.23 0.576681L17.9412 0.993173L17.6844 1.50578L17.4277 2.33876L16.8822 2.65914L16.2083 3.07563L15.4381 3.5562L14.8926 3.90862L14.0262 4.4853L13.4807 4.86975L13.0956 5.12606L12.518 5.54255L12.0687 5.86293L11.6515 6.18331L11.4269 6.43961L11.2023 6.75999L10.9456 7.27259L10.8172 7.7852V8.32984L10.8814 8.58615L11.0739 9.06671L11.3948 9.51524L11.6195 9.73951L12.0366 10.0599V14.9617L11.2986 14.9937L11.106 15.0258L10.6889 15.1539L10.2396 15.4102L9.8866 15.7626L9.69406 16.115L9.56571 16.5315L9.50153 17.0762L9.37317 19.1586V20.2479L9.46944 20.6644L9.69406 21.1129L9.98287 21.4974L10.3359 21.7857L10.6247 21.9459L11.106 22.1382L11.0739 22.4906L10.6247 26.7196L10.015 32.4543L9.56571 36.6513L9.21272 39.9832L8.66719 45.1093L8.28211 48.6014L8.21793 48.9859L7.9933 49.114L7.47987 49.3703L7.15897 49.5946L6.80598 49.947L6.54926 50.2674L6.29254 50.812V60.5118L6.58135 60.9603L6.90225 61.2486L7.47987 61.569L9.79033 62.6263L11.8441 63.4913L13.2881 64.0039L14.315 64.3243L15.3098 64.5806L15.5566 64.6283L17.2953 64.9597L18.611 65.0558H19.9267L20.3438 65.0238L21.2785 64.8689L22.4337 64.6767L23.5248 64.4204L24.6158 64.1L25.8353 63.6835L26.798 63.3311L27.9532 62.8826L29.1726 62.37L30.039 61.9855L30.7771 61.6011L31.2584 61.2807L31.6435 60.8642L31.8681 60.5118L31.9965 60.1914V52.7984L31.9002 52.3819L31.6756 51.8693L31.3868 51.4208L31.1622 51.1965L30.8092 50.9402L30.5204 50.7159L30.3599 50.4276L30.1995 49.947L30.039 49.2101L29.9107 48.1849L29.6219 44.5967L29.2368 39.8551L28.7554 33.9601L28.1778 26.9759L27.8248 22.5867L27.7606 22.1061H27.8248L28.2099 21.9139L28.5308 21.6896L28.8517 21.3692L29.1405 20.9528L29.301 20.5683L29.3972 20.0557V19.447L29.333 18.3257L29.2047 16.8839L29.1084 16.3713L28.9801 16.083L28.7554 15.7306L28.3704 15.3782L27.9211 15.1539L27.3756 15.0258H26.8621L26.8942 10.0919L27.0868 9.96377L27.4718 9.54728L27.6644 9.19486L27.8248 8.81041L27.9211 8.36188V7.91335L27.889 7.68909L27.7606 7.24056L27.5681 6.8561L27.3114 6.50368L26.9263 6.15127L26.3808 5.73478L25.8032 5.28625L25.2255 4.86975L24.7121 4.4853L24.0382 3.97269L23.4927 3.58824L22.9151 3.17175L21.8882 2.46691L21.7919 2.01838L21.6315 1.40967L21.4389 0.961136L21.2143 0.608719L20.8934 0.320379L20.5404 0.128151L20.027 0Z" fill="#020201"/>
    <path d="M13.2883 20.5363H25.8354L25.9317 21.6255L26.4451 27.7768L26.7339 31.333L27.2474 37.5484L27.472 40.3356L28.1138 48.1208L28.2421 49.2422L28.4347 50.1713L28.6272 50.812L28.9481 51.613H27.6645L26.4772 51.677L25.0011 51.8052L23.4608 51.9974L22.1772 52.1897H22.0809L22.0488 52.0295L21.9204 49.915V49.6266L17.6846 49.6587L17.5241 52.3498L17.492 53.0867L17.2032 53.1828L15.4383 53.5673L14.4435 53.7275H13.8338L13.5129 53.6314L13.2883 53.3751L12.9032 52.7663L12.486 52.1897L12.1009 51.677L11.748 51.2926L11.5233 51.0363L11.2666 50.812L10.9457 50.5237L10.4644 50.2033L10.1114 50.0111L10.0793 49.979L10.1114 49.5625L10.8174 43.1229L11.1382 40.1755L11.4271 37.4843L11.9405 32.7747L12.6144 26.5594L13.0636 22.2983L13.2562 20.5683L13.2883 20.5363Z" fill="#F6F6F6"/>
    <path d="M17.4493 53.1046L19.0625 20.5363H25.9102C25.9102 20.5363 28.1316 48.5956 28.1609 49.1145C28.1901 49.6333 28.9518 51.5952 28.9518 51.5952C28.9518 51.5952 25.9312 51.675 22.9139 52.0833C20.7433 52.3771 17.4493 53.1046 17.4493 53.1046Z" fill="#E2E2E0"/>
    <path d="M17.4919 16.884H27.4077L27.4398 16.916L27.6002 19.2227V19.5431H11.459V19.1587L11.5874 17.2364L11.6195 16.916L17.4919 16.884Z" fill="#F6F6F6"/>
    <path d="M19.6098 1.44165H19.7702L19.8986 1.53776L20.1553 2.7552L20.3158 3.46004L20.4441 3.62022L21.0859 4.03672L21.8561 4.54932L22.4979 4.99785L22.8829 5.25416L23.4285 5.63861L24.0703 6.08714L24.5195 6.40752L25.033 6.79197L25.6106 7.20846L25.9957 7.4968L26.0277 7.52884L26.0598 8.29775L26.0277 8.32979H13.0314L12.9993 8.29775V7.36865L13.3843 7.08031L13.9941 6.66382L15.3739 5.73472L15.7269 5.51046L16.465 5.02989L17.1389 4.6134L17.9732 4.10079L18.8717 3.55615L18.968 3.49207L19.1926 2.59501L19.4172 1.5698L19.5135 1.47369L19.6098 1.44165Z" fill="#BD2E2D"/>
    <path d="M19.7382 1.53778H19.8024L19.8666 1.69797L19.9307 1.98631L19.9949 1.95427L20.2837 3.3319L20.38 3.55617L20.733 3.81247L21.3748 4.22896L22.177 4.7736L22.883 5.25417L23.4285 5.63863L24.0703 6.08716L24.5196 6.40754L25.033 6.79199L25.6107 7.20848L25.9957 7.49682L26.0278 7.52886L26.0599 8.29777L26.0278 8.32981H13.0314V8.29777L19.6419 8.26573L19.5778 7.84924L19.6099 7.78516L19.6419 6.92014V2.05039L19.674 1.56982L19.7382 1.53778Z" fill="#A72528"/>
    <path d="M19.9377 19.541L19.9459 16.8839H27.4462C27.4462 16.8839 27.5423 17.6902 27.5774 18.209C27.6125 18.7278 27.6258 19.541 27.6258 19.541H19.9377Z" fill="#E2E2E0"/>
    <path d="M18.583 35.6261H21.1502L21.4711 35.6581L21.5353 37.26L21.6315 40.5279V41.1366H18.4225V40.0153L18.4867 36.8756L18.5188 35.6581L18.583 35.6261Z" fill="#030301"/>
    <path d="M17.4766 53.2248L17.6753 49.6567L21.9207 49.623L22.0907 52.2445L17.4766 53.2248Z" fill="black"/>
    <path d="M23.3322 25.0536H24.0703L24.327 28.77L23.3964 28.802H22.2411L22.209 28.5778L22.0807 25.7264V25.0856L23.3322 25.0536Z" fill="#040302"/>
    <path d="M15.1494 29.1224H17.1389L17.1069 30.1155L17.0106 32.3262L16.9785 32.8067H14.9247L14.9568 32.0058L15.1173 29.4748L15.1494 29.1224Z" fill="#030201"/>
    <path d="M15.5665 21.3692H17.0105L16.9463 23.1954L16.9142 23.9002L16.8822 23.9322H15.4381V23.5798L15.5665 21.3692Z" fill="#060703"/>
    <path d="M14.9564 9.66681H24.2469V15.4901L24.135 15.5185H14.8444V9.75203L14.9564 9.66681Z" fill="#F7D041"/>
    <path d="M20.1169 9.66681H24.1684L24.2191 9.69522V15.5185L22.1933 15.5469H20.3195L20.0663 15.5185V9.69522L20.1169 9.66681Z" fill="#FBBD37"/>
    <path d="M23.6532 5.83087L23.7816 5.89495L24.1666 6.15125L25.386 7.04831L25.9637 7.4648L26.0278 7.52888V7.68907L25.9316 7.65703L25.8674 7.49684L25.7711 7.4648L25.7069 7.36869L25.5465 7.30461L25.386 7.14442L24.8405 6.75997L24.6801 6.66386L24.4554 6.47163L24.295 6.37552V6.31144L24.1345 6.24736L23.6532 5.89495V5.83087Z" fill="#BA2C2C"/>
    <path d="M23.6532 5.83087L23.7816 5.89495L24.1666 6.15125L24.7763 6.59978L24.9368 6.72793V6.79201L24.6159 6.63182L24.4554 6.47163L24.295 6.37552V6.31144L24.1345 6.24736L23.6532 5.89495V5.83087Z" fill="#AC3F32"/>
    <path d="M20.4121 3.65228L20.5405 3.68432L21.086 4.03674L21.6636 4.42119V4.48527L21.5032 4.42119L21.0218 4.10081L20.7009 3.87655L20.4121 3.68432V3.65228Z" fill="#B72B2C"/>
    <path d="M22.3695 4.96588L22.4979 4.99792L22.8829 5.25422L23.1076 5.41441L23.0755 5.47849L22.915 5.38237L22.6583 5.22218L22.3695 4.99792V4.96588Z" fill="#B82B2C"/>
    <path d="M23.6532 5.83087L23.7816 5.89495L24.1666 6.15125L24.295 6.24736V6.31144L24.1345 6.24736L23.6532 5.89495V5.83087Z" fill="#A74433"/>
    <path d="M19.8022 1.5058L19.8985 1.53784L19.9627 1.79414V2.11452L19.8985 1.98637L19.8022 1.63395V1.5058Z" fill="#B82B2C"/>
    <path d="M21.086 4.06879L21.2464 4.13286L21.6636 4.4212V4.48528L21.5032 4.4212L21.086 4.13286V4.06879Z" fill="#B1342E"/>
    <path d="M24.9367 6.75995L25.0972 6.82402L25.386 7.04829V7.11237L25.2255 7.04829L24.9367 6.82402V6.75995Z" fill="#B1342E"/>
    <path d="M25.3859 7.08038L25.6106 7.20853L25.7389 7.33669H25.5785L25.418 7.1765L25.3859 7.08038Z" fill="#B62F2D"/>
    <path d="M3.39062 45.2855C4.04807 45.1043 4.72344 45.2263 5.35449 45.5599C5.84201 45.8177 6.17631 46.082 6.40234 46.3119C6.51499 46.4265 6.5992 46.5314 6.66113 46.6195C6.67281 46.6361 6.68229 46.653 6.69238 46.6683L7.67969 47.8539L7.75488 47.9427L8.83301 50.099L8.86426 50.1625L8.88672 50.2299L9.17383 51.0922L10.6816 51.9301L10.7744 51.9818L10.8545 52.0511L12.4961 53.4877L12.627 53.6029L12.7119 53.7552L13.5596 55.2806L16.5088 54.5052L16.5322 54.4984L16.5557 54.4935L23.3291 53.057L23.3613 53.0502L23.3945 53.0453L24.832 52.8402L24.8799 52.8334L24.9277 52.8314L29.2305 52.6351L31.335 51.5834C31.3792 51.5353 31.4321 51.4774 31.4941 51.4135C31.6769 51.2248 31.9382 50.9711 32.249 50.7133C32.5573 50.4576 32.9335 50.1818 33.3467 49.9642C33.7523 49.7506 34.2544 49.5604 34.7988 49.5463C35.9831 49.5156 36.7662 50.3323 37.2041 51.1322C37.6505 51.9479 37.8832 52.9725 37.9375 53.931C37.9913 54.8806 37.8779 55.9056 37.502 56.7074C37.3113 57.114 37.0241 57.5242 36.5947 57.8051C36.1408 58.1018 35.6041 58.2035 35.0459 58.0961C34.5173 57.9943 33.9833 57.7132 33.6455 57.516C33.4623 57.409 33.3051 57.3077 33.1934 57.2328C33.186 57.2278 33.1789 57.2229 33.1719 57.2181L32.6465 57.0873H30.6484L28.6455 57.6332L26.3418 58.9779L24.752 60.1713L24.6797 60.226L22.7461 61.1927H16.1123L16.0762 61.1898L13.2031 60.9847L13.0547 60.974L12.915 60.9203L10.2471 59.8949L10.1064 59.8402L9.98828 59.7474C9.98749 59.7468 9.98545 59.7451 9.9834 59.7435C9.97928 59.7403 9.97258 59.7356 9.96387 59.7289C9.94598 59.7151 9.91883 59.6937 9.88281 59.6664C9.81037 59.6114 9.70285 59.5306 9.56738 59.432C9.29574 59.2342 8.91264 58.9648 8.46973 58.6791C7.55864 58.0914 6.48465 57.4961 5.61914 57.2572C2.29109 56.3383 1.04206 52.7828 1.00098 50.101C0.980091 48.733 1.25723 47.342 1.91992 46.3861C2.26123 45.8939 2.74524 45.4635 3.39062 45.2855Z" fill="#6E8146" stroke="black" stroke-width="2"/>
    <path d="M6.53845 57.4509L6.57263 57.4685L6.60583 57.488L8.61267 58.6921L11.5951 60.0837L13.2709 60.6414L15.7758 60.8347H22.3109L24.4974 59.9226L28.1127 57.5134L28.224 57.4392L28.351 57.3972L30.1986 56.781L30.3529 56.7292H33.0082L33.2201 56.8357L34.0209 57.2351C34.2509 57.1406 34.5552 57.0325 34.8959 56.9558C35.5939 56.7988 36.8435 56.6954 37.6908 57.7009C38.2597 58.3761 38.3333 59.1556 38.142 59.8611C37.967 60.5062 37.5714 61.1052 37.1761 61.6091C36.7719 62.1245 36.2899 62.6354 35.8685 63.0847C35.428 63.5545 35.0621 63.9491 34.809 64.2927C34.5567 64.635 34.1961 64.8613 33.8646 65.0193C33.5187 65.1842 33.1115 65.3183 32.6703 65.4294C31.7871 65.6519 30.6534 65.813 29.348 65.9285C26.73 66.16 23.2868 66.2165 19.4779 66.1433C17.7509 66.1101 15.9604 66.1732 14.1742 66.2136C12.4065 66.2536 10.6449 66.2711 9.05017 66.1345C7.46535 65.9988 5.9546 65.7047 4.72595 65.0671C3.45816 64.4093 2.49388 63.3838 2.07849 61.8679C1.60145 60.1266 1.74948 58.7976 2.07068 57.866C2.22917 57.4064 2.42496 57.0576 2.59119 56.8142C2.67424 56.6926 2.74986 56.597 2.80994 56.5271C2.83994 56.4922 2.86675 56.4636 2.88806 56.4412C2.8986 56.4301 2.90736 56.4199 2.91541 56.4119C2.91947 56.4078 2.92374 56.4044 2.92712 56.4011L2.93494 56.3933C2.93545 56.3928 2.93594 56.3925 3.62146 57.1072L2.93591 56.3923L3.4447 55.9041L6.53845 57.4509Z" fill="#ABD8EF" stroke="black" stroke-width="2"/>
  </svg>
</div>
